@{
  Layout = "_Layout";
}
<div> 
  @* class="home" *@
<h1>Welcome to Harmony Medical Clinic!</h1>
<p>@Html.ActionLink("See all Patients", "Index", "Patients")</p> 
<p>@Html.ActionLink("See all Doctors", "Index", "Doctors")</p>


</div>
@* <p>@Html.ActionLink("Home", "Index", "Home")</p> *@